body {
    background: rgba(17, 141, 223, 0.356);
    color: rgb(10, 100, 235);
  }
  A{
    color: rgb(10, 100, 235);
    text-decoration:none;
  }
  h1{
    text-align: center;
  }
  img.logo{
    float: left;
    margin: 10px;
    width: 100px;
    padding-top: 40px;
    margin-left: 100px;
  
  }
  div.head{
      background: rgba(17, 141, 223, 0.356);
    align-content: center;
    width: 100%;
    height: 200px;
  }
  h1.hea{
    padding-top: 75px;
  
  }
  nav.navi{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 45% ;
    align-content: center;
  
    background: rgba(17, 141, 223, 0.356);
  
  
  }
  div.navig{
    width: 100%;
    height: 20px;
    padding-bottom: 20px;
  }
  a.sil{
    font-size: 30px;
    margin-left: 20px;
  
  }
  table{
    border: 1;
    color: white;
  }
  footer{
    font-size: 20px;
    align-content: center;
    padding-left: 50%;
  }
  div.footer{
    width: 100%;
    background: rgb(4, 248, 216);
  }
  div.table{
    padding-top: 100px;
    height: 200px;
    width: 100%;
    background: rgba(17, 141, 223, 0.356);
  }
  th.tb{
    background: rgba(17, 141, 223, 0.356);
    color: rgb(11, 245, 147);
  }
  td.tb{
    background: rgb(85, 136, 248);
    color: rgb(11, 245, 147);
  }
