@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
body {
    background-color: rgb(17, 17, 17);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

a{
    color:#fff;
    text-decoration: none;
}
a:hover{
    color:gray;
}
a:active{
    color:black;
}

/* Box model */
.container{
    max-width: 100%;
    margin: auto;  /* Внешние отступы */
    display: flex;
    flex-direction: column; 
}
.URL {
    
    background: rgb(63, 63, 63);
    padding: 8vw ; /* Внутренние отступы в блоке */ /*padding: 10px 15px 20px 25px; указание каждой стороны*/
    border: 3px solid rgb(150, 150, 150); /* Граница (:ширина границы стиль цвет) */
    margin: 10px;
    border-radius: 50px                  ;
}
.list{
    padding: 0 20px;
}
.list li{
    margin-bottom: 15px;
}
.info{
    display: flex;
    padding-left:0%;
}
.info h1{
    margin-left:40px;
    margin-top:50px;
    color:gray;
}
.navigation{
    background: rgb(37, 37, 37);
    max-width: 100%;
    margin: 30px;
    display: flex;
    margin:auto;
    padding: 30px;
    border: 3px solid rgb(151, 151, 151);
    border-radius: 100px;
    flex-direction: column;
}
.navigation a{
    max-width: 100%;
    margin: 10px 0px;
    padding: 10px;
    background-color: rgb(59, 61, 63);
    border-radius: 10px;
    text-transform: uppercase;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}
.navigation a::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(70, 72, 73);
    border-radius: inherit;
    box-shadow: 0 0 0 3px #363232;
    transform: translate3d(0, 13px, -2px);
    transition: transform 0.15s, box-shadow 0.15s;
}
.navigation a:hover {
    background: #d8cbcb;
    transform: translate(0, 0.25em);
  }
.navigation a:hover::before {
    box-shadow: 0 0 0 4px #484a4e;
    transform: translate3d(0, 0.5em, -1em);
}
.ul{
    list-style: none;
    padding:0;
}
.table {
    display:flex;
    max-width: 100%;
    margin: 60px;
    background-color: rgb(43, 43, 43);
    text-align: center;
    order:2;
}
td,th {
    width: 190px;
	padding: 10px;
	font-size: 15px;
}
.odd {
background-color: rgb(87, 36, 102);
}
footer p{
    color:rgb(60,60,60);
    display: flex;
    justify-content: center;
}

 @media screen and (min-width: 1200px)
{ 
    .navigation{
        max-width: 55%;
        display: flex;
        flex-direction: row;
        
        
    }
    .navigation a{
        margin-left:170px;
        padding: 10px;     
    }
    .container{
        max-width: 60%;
        margin: auto; 
        
    }
    .info{
        margin-bottom: 20px;
        padding-left: 30%;
    }
    .table{
        order:0;
    }



 } 
 /*
    .navigation{
        max-width: 100%;
        display: flex;
        flex-direction: column; 
    }
    .navigation a{
        margin: 10px 0;
        padding: 10px;       
    }
    .container{
        max-width: 100%;
        display: flex;
        flex-direction: column; 
    }
    .info{
        padding-left: 0%;
    }
    .table{
        order:2;
    }
 */