body {
  background-color: rgb(4, 237, 245);
  font-family: 'Open Sans', sans-serif;
}


/* шапка*/
header {
  background-color: rgb(4, 237, 245);
  border-bottom: 5px solid rgb(35, 20, 248);
  color: #00ffd2;
}

#navigation {
  background-color: #00ffd2;
  border: 5px solid rgb(35, 20, 248);
  list-style: none;
}

#navigation li:hover {
  background-color: white;
  transition: 0.4s ease-in-out;
}

/* popup */
*, *:before, *:after {
box-sizing: border-box;
}
span.title {
display: block;
text-align: center;
margin: 15px auto;
}
.basicBox, .basicBoxs , .basicBoxes{
text-transform: uppercase;
width: 130px;
height: 65px;
text-align: center;
line-height: 65px;
margin: 10px auto;
position: relative;
cursor: pointer;
}
svg {
position: absolute;
top: 0;
left: 0;
}
svg rect {
stroke: #00fdc6;
stroke-width: 7;
transition: 0.8s;
stroke-dasharray: 200, 0;
}
.basicBox:hover svg rect {
stroke-width: 10;
stroke-dasharray: 70, 245;
stroke-dashoffset: 91
}

.basicBoxs:hover svg rect {
  stroke-width: 10;
  stroke-dasharray: 108, 245;
  stroke-dashoffset: 147
}


.popup-bg, .popup-bg-2{
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(0,0,0,0.9);
display: none;
}

.popup, .popup-2{
position: absolute;
top: 50%;
left: 50%;
width: 600px;
background: #00ffd2;
border: 10px solid rgb(35, 20, 248);
padding: 20px;
transform: translate(-50%,-50%);
color: rgb(35, 20, 248);
}

.popup{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.no-slide{
overflow-y: hidden;
}

/* popup 2 */

#otpravka1, #otpravka2, #otpravka3{
display: none;
}

.basicBoxes:hover svg rect {
  stroke-width: 10;
  stroke-dasharray: 108, 245;
  stroke-dashoffset: 147
}

/*ссылки*/
#hyperlinks {
  background-color: #00ffd2;
  transition: 0.8s ease-in-out;
  border: 5px solid rgb(35, 20, 248);
}

#hyperlinks:hover {
  background-color: white;
}

#hyperlinks li{
  transition: 0.5s ease-in-out;
}

#hyperlinks li:hover {
  background-color: #00ffd2;
}

/*форма*/

form {
  background-color: #00ffd2;
  border: 5px solid rgb(35, 20, 248);
}

form input.kon, form textarea{
display: block;
margin-left: auto;
margin-right: auto;
}
/*дно*/
#footer {
  border-top: 5px solid rgb(35, 20, 248);
  background-color: rgb(35, 20, 248);
  color: #00ffd2;
}
/*слайдер*/
#slidelinks img{
  border: 7px solid rgb(35, 20, 248);
}
/*таблица*/

table {
  border-collapse: collapse;
  border: 5px solid rgb(35, 20, 248);
}

#tt{
  background-color: rgb(35, 20, 248);
}

#hyperlinks li.nocolor:hover{
background-color: white;
}

#hyperlinks li.nocolor{
  transition: 10.0s ease-in-out;
  }

th, td{
  transition: 0.8s ease-in-out;
}

tr:nth-child(odd) {
  background-color: #00fcfc;
}

tr:nth-child(even) {
  background-color: #23d1c8;
}

td:hover{
  background-color: rgb(35, 20, 248);
}

th:hover{
  background-color: rgb(35, 20, 248);
}

/*прочее */

a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: rgb(35, 20, 248);
}

a:hover {
  text-decoration: none;
  color: rgb(35, 20, 248);
}

button {
  background-color: #37ff05;
  border: 3px solid rgb(35, 20, 248);
  color: rgb(35, 20, 248);
}

button:hover {
  background-color: #ffffff;
  border: 3px solid rgb(35, 20, 248);
  color: rgb(35, 20, 248);
}

#radioDice , #sacDice, #d10Dice, #mid{
display: none;
}